---
import Html from "../../components/icons/techIcons/Html.astro";
import ProjectItem from "../../components/ProjectItem";
import Layout from "../../layouts/Layout.astro";
import Css from "../../components/icons/techIcons/Css.astro";
import Javascript from "../../components/icons/techIcons/Javascript.astro";
import Jquery from "../../components/icons/techIcons/Jquery.astro";
import Php from "../../components/icons/techIcons/Php.astro";
import Mysql from "../../components/icons/techIcons/Mysql.astro";


const imgs=[
    {
        title:"Página principal",
        url:"/projects/actividades-911/Pagina principal.webp"
    },
    {
        title:"Kanban board de actividades",
        url:"/projects/actividades-911/Kanban actividades.webp"
    },
    {
        title:"Historial de actividades",
        url:"/projects/actividades-911/Historial de actividades.webp"
    },
    {
        title:"Panel de sección de operatividad",
        url:"/projects/actividades-911/Panel de operatividad.webp"
    },
    {
        title:"Asistencias",
        url:"/projects/actividades-911/Asistencias.webp"
    },
    {
        title:"Gráfico de actividades completadas",
        url:"/projects/actividades-911/Grafico1.webp"
    },
    {
        title:"Gráfico de aptitudes del personal",
        url:"/projects/actividades-911/Grafico2.webp"
    },
    {
        title:"Usuarios",
        url:"/projects/actividades-911/Usuarios.webp"
    },
    {
        title:"Perfil de usuario",
        url:"/projects/actividades-911/Perfil de usuario.webp"
    },
    {
        title:"Evaluación de usuario",
        url:"/projects/actividades-911/Resultados de evaluacion.webp"
    },
    {
        title:"Preguntas frecuentes",
        url:"/projects/actividades-911/Preguntas frecuentes.webp"
    },
]

const videos=[
    {
        title:"Elección de empleado",
        url:"/projects/actividades-911/Eleccion de empleado.mp4"
    }
]

const techs = [
    {
      name: "HTML",
      class: "bg-orange-400 text-white",
      icon: Html,
    },
    {
      name: "CSS",
      class: "bg-blue-500 text-white",
      icon: Css,
    },
    {
      name: "JavaScript",
      class: "bg-yellow-600 text-white",
      icon: Javascript,
    },
    {
      name: "jQuery",
      class: "bg-cyan-800 text-white",
      icon: Jquery,
    },
    {
      name: "PHP",
      class: "bg-indigo-500 text-white",
      icon: Php,
    },
    {
      name: "MySQL",
      class: "bg-sky-400 text-white",
      icon: Mysql,
    },
  ]

const title = "Sistema de gestión y evaluación de actividades para el 911"
---

<Layout title="Actividades-911" description="Proyecto - actividades-911" showFooter={false}>

    <ProjectItem client:load title={title} imgs={imgs} videos={videos} urlVolver={"/#project-" + title}>

      <div class="flex flex-wrap">
        <ul class="flex flex-row mb-16 gap-x-2 gap-y-4 flex-wrap">
          {techs.map((tech) => (
            <li>
              <span
                class={`flex items-center gap-x-2 rounded-full md:text-lg text-sm ${tech.class} py-2 px-2 `}
              >
                <tech.icon class="md:size-6 size-5" />
                {tech.name}
              </span>
            </li>
          ))}
        </ul>
      </div>

        <h1 class="lg:text-3xl text-2xl text-center mb-4">Contexto</h1>
        <p class="text-pretty text-lg">
          Este sistema consiste en un proyecto realizado para ayudar a
          gestionar y evaluar las actividades realizadas por los empleados del
          área de tecnología del 911 de los Altos Mirandinos; permitiendo
          además, marcar si los recursos del 911 están operativos o no,
          registrar la asistencia de los empleados, ver gráficos estadísticos
          del desempeño de los empleados, gestionar los datos de los mismos y,
          en base a los puntos obtenidos al realizar actividades, elegir el
          empleado del mes y del año. Dividiendo los privilegios de cada
          usuario según el rol que tengan dentro del sistema.
        </p>
        <p class="text-pretty text-lg mt-8">
          Nota: Este proyecto se muestra aquí gracias al coordinador de
          tecnología del 911, quien dio permiso para mostrar una versión demo
          del sistema con datos de prueba.
        </p>
        <h1 class="lg:text-3xl text-2xl text-center mb-4 mt-12">
          Características destacables
        </h1>
        <ul class="text-pretty text-lg mt-8 list-disc lis flex flex-col gap-6">
          <li>
            <strong>Pagina principal</strong>, donde se puede visualizar el
            logo, el empleado del mes y del año y un recuento de las
            actividades completadas por todos los empleados a lo largo del
            año.
          </li>
          <li>
            <strong>Kanban Board</strong>, al estilo de Trello, para gestionar
            el estado de las actividades y sus datos de manera sencilla y
            cómoda.
          </li>
          <li>
            <strong>Panel de operatividad</strong> para marcar con solo un
            click, que recursos del 911 están o no operativos en cada día,
            tanto para el turno de la mañana como el de la tarde.
          </li>
          <li>
            <strong>Gráficos hechos con “chart.js”</strong>, que muestran
            estadísticas de manera vistosa respecto a la cantidad de
            actividades completadas en el año por los empleados.
          </li>
          <li>
            <strong>Carrusel de cartas</strong> para mostrar de manera vistosa
            los datos de los usuarios/empleados.
          </li>
          <li>
            <strong>Perfil del usuario/empleado</strong> para visualizar sus
            puntajes, cambiar la foto, editar sus datos o evaluarlos, en caso
            de tener el rol de coordinador (el cual sería el rol de mayor
            rango).
          </li>
          <li>
            <strong>Sección de evaluación del usuario</strong>, donde se ven
            los resultados finales de sus puntos obtenidos en el mes y se
            puede generar un reporte de su desempeño.
          </li>
          <li>
            <strong>Sección de ayuda</strong>, donde se puede ver para que
            sirve cada botón del sistema y resolver dudas acerca del
            funcionamiento del sistema.
          </li>
          <li>
            <strong>Elección del empleado del mes y del año</strong>, según la cantidad de puntos obtenidos en dichos períodos.
          </li>
        </ul>
    </ProjectItem>
</Layout>